@if (TempData["Status"] is string status)
{
    <div class="alert alert-success"><i data-lucide="check-circle-2"></i>@status</div>
}
@if (TempData["Error"] is string error)
{
    <div class="alert alert-danger"><i data-lucide="circle-alert"></i>@error</div>
}
